<div class="container mx-auto py-6">
  <form class="max-w-[440px] mx-auto">
    <div class="mb-4 text-center text-black/90">
      <h1 class="text-3xl text-center mb-4">Sign Up</h1>
      <h3>
        Have an account?
        <a
          routerLink="/singup"
          class="text-green-500 hover:underline hover:text-green-600"
          >Sign in</a
        >
      </h3>
    </div>
    <div class="mb-3">
      <label>First name</label>
      <app-form-input></app-form-input>
    </div>
    <div class="mb-3">
      <label class="mb-1">Middle name</label>
      <app-form-input></app-form-input>
    </div>
    <div class="mb-3">
      <label class="mb-1">Last name</label>
      <app-form-input></app-form-input>
    </div>
    <div class="mb-3">
      <label class="mb-1">Email</label>
      <app-form-input></app-form-input>
    </div>
    <div class="mb-6">
      <label class="mb-1">Password</label>
      <app-form-input></app-form-input>
    </div>
    <app-submit-button>
      <!-- <ng-icon name="ionEye"></ng-icon> -->
    </app-submit-button>
    <div class="flex items-center my-6">
      <div class="flex-1 bg-gray-100 h-[1px]"></div>
      <div class="mx-4 text-black/90">OR</div>
      <div class="flex-1 bg-gray-100 h-[1px]"></div>
    </div>
    <div>
      <button
        class="bg-blue-500 text-white w-full rounded py-2 mt-6 flex items-center justify-center hover:bg-blue-600"
      >
        <div>Sing in with Facebook</div>
        <!-- <ng-icon name="ionLogoFacebook" class="text-xl ml-2"></ng-icon> -->
      </button>
    </div>
  </form>
</div>
