<footer class="py-10 bg-stone-50 text-black/70 border-t border-gray-100">
  <div class="container mx-auto sm:flex sm:justify-between">
    <a class="text-xl font-bold text-green-500" routerLink="">GivingTree</a>
    <div>
      <h1 class="text-black font-semibold">Social</h1>
      <ul class="sm:text-md">
        <li class="hover:text-black">
          <a>Facebook</a>
        </li>
        <li class="hover:text-black">
          <a>Blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
