<nav
  class="flex p-4 items-center justify-between bg-stone-50 border-b border-gray-100"
>
  <div class="cursor-pointer">
    <h1 class="text-2xl font-bold text-green-500" routerLink="">GivingTree</h1>
  </div>
  <ul class="flex space-x-6 items-center text-black/60 sm:text-lg">
    <li class="flex items-center cursor-pointer hover:text-black">
      <ng-icon name="ionSearch" class="text-xl"></ng-icon>
    </li>
    <li class="hover:text-black">
      <a routerLink="/login">Log in</a>
    </li>
    <li class="hover:text-black">
      <a routerLink="/singup">Sign up</a>
    </li>
  </ul>
</nav>
